<h1>Edit Character</h1>

<form method="POST" action="/character/{{character._id}}?_method=PUT">
  <div class="inputBox">
    <input type="text" value="{{character.name}}" placeholder="name" name="name" />
    <input type="number" value="{{character.age}}" placeholder="age" name="age" />
    <input class="descriptionBox" type="text" value="{{character.description}}" placeholder="description"
      name="description" />
    <input type="text" value="{{character.image}}" placeholder="link to image" name="image" />
  </div>
  <div class="save">
    <input type="submit" value="Save" />
  </div>
</form>