<h1>{{character.name}}</h1>

<img src="{{character.image}}" width="200" />

<h5>Age: {{character.age}}</h5>
<h5>Description: {{character.description}}</h5>

<a href="/character/edit/{{character._id}}">
    <button>Edit Character</button>
</a>

<form method="POST" action="/character/{{character._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>

<a href="/game">
    <button class="homeBtn">Home</button>
</a>