<h1>Edit Game Publisher</h1>

<form method="POST" action="/publisher/{{publisher._id}}?_method=PUT">

  <input type="text" value="{{publisher.name}}" placeholder="name" name="name" />
  <input type="number" value="{{publisher.yearEstablished}}" placeholder="Year Established" name="yearEstablished" />
  <input type="text" value="{{publisher.country}}" placeholder="country" name="country" />
  <input type="text" value="{{publisher.logo}}" placeholder="link to logo" name="logo" />
  <input type="text" value="{{publisher.description}}" placeholder="description" name="description" />

  <input type="submit" value="Save" />
</form>