<h1>{{publisher.name}}</h1>

<img src="{{publisher.logo}}" width="200" />

<h5>Year Established: {{publisher.yearEstablished}}</h5>
<h5>Country: {{publisher.country}}</h5>

<a href="/publisher/edit/{{publisher._id}}">
    <button>Edit Publisher</button>
</a>

<form method="POST" action="/publisher/{{publisher._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>

<a href="/game">
    <button class="homeBtn">Home</button>
</a>